@font-face {
  font-family: 'FiraMono';
  src: url('src/assets/fonts/FiraMono-Regular.ttf') format('truetype'),
       url('src/assets/fonts/FiraMono-Regular.otf') format('otf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'FiraMono';
  src: url('src/assets/fonts/FiraMono-Bold.ttf') format('truetype'),
       url('src/assets/fonts/FiraMono-Bold.otf') format('otf');
  font-weight: 700;
  font-style: bold;
}

@font-face {
  font-family: 'Roboto';
  src: url('src/assets/fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('src/assets/fonts/Roboto-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url('src/assets/fonts/Roboto-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('src/assets/fonts/Roboto-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

* {
  box-sizing: border-box;
  font-family: 'Roboto'
}

html {
  height: 100%;
}

body.main {
  height: 100%;
  display: block;
  margin: 0;
  padding: 0;
}

a, a:visited {
  color: white;
}

.ta {
  height: 100%;
  display: flex;
}

.ta-title {
  margin-top: 0;
  color: gold;
}

.ta-side {
  padding: 10px;
  background: #333333;
  color: white;
}

.ta-side a {
  text-decoration: none !important;
}

.ta-settings {
  font-size: 0.75em;
}

.ta-setting-slider {
  display: flex;
}

.ta-setting__slider {
  flex-grow: 1;
}

.ta-setting__value {
  min-width: 3em;
  vertical-align: sub;
  font-weight: bold;
  font-size: 1.2em;
  text-align: right;
}

.ta-main {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  background: #1E1E1E;
  color: white;
}

.ta-header {
  padding: 10px;
  background: white;
  color: black;
}

.ta-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 10px;
  clear: left;
  margin-top: 1px;
}

.ta-content textarea {
  font-family: 'FiraMono', courier !important;
}

.ta-target-text {
  flex-grow: 1;
  margin: 0;
}

.ta-custom-text {
  font-size: 0.6em;
  opacity: 0.6;
}

.ta-custom-text > textarea {
  display: block;
  padding: 0.5em 0.8em;
  width: 100%;
  resize: vertical;
  opacity: 0.6;
  background: black;
  color: white;
}

.ta-custom-text > textarea:focus {
  opacity: 1;
}

/* TODO: implement in JS of course */
.ta-custom-text__toggler:checked + textarea { display: none; }

.ta-metrics {
  font-size: 0.75em;
}

.ta-metric {
  text-align: right;
}

.ta-metrics th, .ta-metrics td {
  padding-right: 2em;
}

.ta-metrics th:last, .ta-metrics td:last {
  padding-right: 0;
}

.ta-metric__best-value {
  color: green;
  font-weight: bold;
  margin-left: 0.2em;
}

.ta-char {
  display: inline-block;
  min-width: 0.75em;
  min-height: 1.5em;
  margin-bottom: 0.1em;
  vertical-align: bottom;
  font-family: 'FiraMono';
  border-top: 3px solid transparent;
}

.ta-char--valid {
  background: green !important;
  color: white !important;
  border-top: 3px solid green;
}

.ta-char--error {
  background: red !important;
  border-top: 3px solid red;
  color: white !important;
  font-weight: bold;
}

.ta-char--replay {
  border-top: 3px solid lightgrey;
}

@keyframes ta-char--next--blink {
  50% { border-bottom: 1px solid gold }
}

.ta-char--next {
  background: dimgrey;
  border-bottom: 1px solid transparent;
  animation: ta-char--next--blink normal 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite;
  font-weight: bold;
}

.ta-char--valid.ta-char--replay {
  border-top: 3px solid lightgrey;
}

.ta-progress--done {
  color: green;
}

.u-wip {
  display: none;
}






/* http://danielstern.ca/range.css/#/ */

input[type=range].ta-slider {
  -webkit-appearance: none;
  width: 100%;
  margin: 8.55px 0;
}
input[type=range].ta-slider:focus {
  outline: none;
}
input[type=range].ta-slider::-webkit-slider-runnable-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  /*box-shadow: 0px 0px 0.9px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);*/
  background: red;
  border-radius: 0px;
  /*border: 0.1px solid #010101;*/
}
input[type=range].ta-slider::-webkit-slider-thumb {
  box-shadow: 0px 0px 5.9px rgba(97, 85, 99, 0), 0px 0px 0px rgba(110, 97, 113, 0);
  border: 5.8px solid rgba(148, 73, 29, 0);
  height: 20px;
  width: 20px;
  border-radius: 20px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -8.65px;
}
input[type=range].ta-slider:focus::-webkit-slider-runnable-track {
  background: red;
}
input[type=range].ta-slider::-moz-range-track {
  width: 100%;
  height: 1px;
  cursor: pointer;
  /*box-shadow: 0px 0px 0.9px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);*/
  background: red;
  border-radius: 0px;
  /*border: 0.1px solid #010101;*/
}
input[type=range].ta-slider::-moz-range-thumb {
  box-shadow: 0px 0px 5.9px rgba(97, 85, 99, 0), 0px 0px 0px rgba(110, 97, 113, 0);
  border: 5.8px solid rgba(148, 73, 29, 0);
  height: 20px;
  width: 20px;
  border-radius: 20px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range].ta-slider::-ms-track {
  width: 100%;
  height: 1px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range].ta-slider::-ms-fill-lower {
  background: red;
  /*border: 0.1px solid #010101;*/
  border-radius: 0px;
  /*box-shadow: 0px 0px 0.9px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);*/
}
input[type=range].ta-slider::-ms-fill-upper {
  background: red;
  /*border: 0.1px solid #010101;*/
  border-radius: 0px;
  /*box-shadow: 0px 0px 0.9px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);*/
}
input[type=range].ta-slider::-ms-thumb {
  box-shadow: 0px 0px 5.9px rgba(97, 85, 99, 0), 0px 0px 0px rgba(110, 97, 113, 0);
  border: 5.8px solid rgba(148, 73, 29, 0);
  height: 20px;
  width: 20px;
  border-radius: 20px;
  background: #ffffff;
  cursor: pointer;
  height: 1px;
}
input[type=range].ta-slider:focus::-ms-fill-lower {
  background: red;
}
input[type=range].ta-slider:focus::-ms-fill-upper {
  background: red;
}
