@font-face {
  font-family: 'FiraMono';
  src: url('../fonts/FiraMono-Regular.ttf') format('truetype'),
       url('../fonts/FiraMono-Regular.otf') format('otf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'FiraMono';
  src: url('../fonts/FiraMono-Bold.ttf') format('truetype'),
       url('../fonts/FiraMono-Bold.otf') format('otf');
  font-weight: 700;
  font-style: bold;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

* {
  box-sizing: border-box;
  font-family: 'Roboto';
  outline: none;
  -webkit-transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
}

html {
  height: 100%;
}

body {
  height: 100%;
  display: block;
  margin: 0;
  padding: 0;
  background: white;
  -webkit-transform: translate3d(0, 0, 0);
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a, a:visited {
  color: white;
}

.ta-app {
  height: 100%;
  padding-top: 1rem;
}

.ta {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #1E1E1E;
  -webkit-backface-visibility: hidden;
}

.ta-text-status--editing {
  background-color: beige !important;
  transition: background-color 0.1s linear;
}
.ta-text-status--editing .ta-title,
.ta-text-status--editing .ta-motto,
.ta-text-status--editing .ta-setting a,
.ta-text-status--editing .ta-setting__value {
  color: burlywood;
}

.ta-text-status--success {
  background-color: darkslategray;
  transition: background-color 0.2s linear;
}

.ta-text-status--failed {
  background-color: darkred;
  transition: background-color 15s linear;
}

.ta-title {
  color: white;
  display: inline-block;
  margin: 0;
  padding: 0 1rem;
  font-size: 2rem;
  line-height: 2;
}

.ta-motto {
  color: white;
  font-size: 0.7rem;
  font-family: "FiraMono";
  margin: 0;
}

/*.ta-side {
  padding: 10px;
  background: #333333;
  color: white;
}

.ta-side a {
  text-decoration: none !important;
}*/

.ta-settings {
  width: 15rem;
  min-width: 15rem;
  padding: 0 2rem;
  font-size: 0.75em;
}

.ta-setting {
  display: flex;
  padding: 1.2rem 0 0 0;
}

.ta-setting__title {
  margin: 0;
  padding-right: 1em;
}

.ta-setting-slider {
  display: flex;
  flex-grow: 1;
}

.ta-setting__slider {
  flex-grow: 1;
}

.ta-setting__value {
  min-width: 3em;
  padding-left: 1em;
  vertical-align: sub;
  font-weight: bold;
  font-size: 1.2em;
  text-align: right;
}

.ta-header {
  display: flex;
  position: relative;
  color: black;
}

.ta-header-spacer {
  width: 1rem;
  background: white;
}

.ta-welcome {
  width: 13rem;
  text-align: center;
}

.ta-metrics-area {
  background: white;
  flex-grow: 1;
}

.ta-metrics {
  padding: 1rem;
}

.ta-main {
  display: flex;
  flex-grow: 1;
  color: white;
}

.ta-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  clear: left;
  margin-top: 1px;
}

.ta-target-text {
  flex-grow: 1;
  margin: 0;
  padding: 1rem 1rem 1rem 0;
}

.ta-custom-text {
  display: none;
  flex-grow: 1;
  padding: 1rem 1rem 1rem 0;
  font-size: 0.6em;
}

.ta-custom-text.active {
  display: flex;
}

/*.ta-custom-text__edit {
  margin-bottom: 0;
  font-size: 1.2em;
}*/

.ta-custom-text > textarea {
  flex-grow: 1;
  margin: 0;
  padding: 2px 0 0 0;
  width: 100%;
  background: transparent;
  border: none;
  font-family: 'FiraMono', courier;
  font-size: 1rem;
  color: darkgray;
  resize: none;
}

.ta-metrics {
  font-size: 0.75em;
}

.ta-metric {
  text-align: right;
}

.ta-metrics th, .ta-metrics td {
  padding-right: 2rem;
}

.ta-metrics th:last, .ta-metrics td:last {
  padding-right: 0;
}

.ta-metric__best-value {
  color: green;
  font-weight: bold;
  margin-left: 0.2em;
}

.ta-char {
  /*display: inline-block;
  min-width: 0.75em;
  min-height: 1.5em;
  margin-bottom: 0.1em;
  vertical-align: bottom;*/
  font-family: 'FiraMono';
  border-top: 3px solid transparent;
}

.ta-char--valid {
  background: green !important;
  color: white !important;
  border-top: 3px solid green;
}

.ta-char--error {
  background: red !important;
  border-top: 3px solid red;
  color: white !important;
  font-weight: bold;
}

.ta-char--replay {
  border-top: 3px solid lightgrey;
}

@keyframes ta-char--next--blink {
  50% { border-bottom: 1px solid gold }
}

.ta-char--next {
  background: dimgrey;
  border-bottom: 1px solid transparent;
  animation: ta-char--next--blink normal 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite;
  /*font-weight: bold;*/
}

.ta-char--valid.ta-char--replay {
  border-top: 3px solid lightgrey;
}

.ta-progress--done {
  color: green;
}

.u-wip {
  display: none;
}






/* http://danielstern.ca/range.css/#/ */

input[type=range].ta-slider {
  -webkit-appearance: none;
  width: 100%;
  margin: 8.55px 0;
  transition: opacity 0.2s linear;
}
input[type=range].ta-slider:disabled {
  opacity: 0.3;
}
input[type=range].ta-slider:focus {
  outline: none;
}
input[type=range].ta-slider::-webkit-slider-runnable-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  background: red;
  border-radius: 0px;
}
input[type=range].ta-slider::-webkit-slider-thumb {
  border: 5.8px solid rgba(148, 73, 29, 0);
  height: 5px;
  width: 5px;
  border-radius: 5px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -5px;
}
input[type=range].ta-slider:focus::-webkit-slider-runnable-track {
  background: red;
}
input[type=range].ta-slider::-moz-range-track {
  width: 100%;
  height: 1px;
  cursor: pointer;
  background: red;
  border-radius: 0px;
}
input[type=range].ta-slider::-moz-range-thumb {
  border: 5.8px solid rgba(148, 73, 29, 0);
  height: 5px;
  width: 5px;
  border-radius: 5px;
  background: #ffffff;
  cursor: pointer;
  margin-top: -5px;
}
input[type=range].ta-slider::-ms-track {
  width: 100%;
  height: 1px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range].ta-slider::-ms-fill-lower {
  background: red;
  border-radius: 0px;
}
input[type=range].ta-slider::-ms-fill-upper {
  background: red;
  /*border: 0.1px solid #010101;*/
  border-radius: 0px;
}
input[type=range].ta-slider::-ms-thumb {
  border: 5.8px solid rgba(148, 73, 29, 0);
  height: 5px;
  width: 5px;
  border-radius: 5px;
  background: #ffffff;
  cursor: pointer;
  height: 1px;
  margin-top: -5px;
}
input[type=range].ta-slider:focus::-ms-fill-lower {
  background: red;
}
input[type=range].ta-slider:focus::-ms-fill-upper {
  background: red;
}
